<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="css/homeStyles.css">

  <title>Odyssey - Your Holiday Destination</title>
</head>
<body>
  <div id="root">
    <div class="App">
      <div class="pageMain" id="header">
        <main>
          <div style="display:flex; flex-direction: row; justify-content: center;">
            <div> <br><img src="logo.png" width="200px" height="200px"> </div>
            <div>
              <h1 style="margin-bottom: 0px;">Odyssey</h1>
              <h3 style="font-weight:normal; margin-top: 0px;">Your Holiday Vacation Companion</h3>

              <h4>LABUGOLLA ESTATE, RANGAMUWA, COLUMBO, SRI LANKA.<h4>
              <h4>Contact : +94 71 264 3548<br>
              Email : oddyseyexperience@gmail.com</h4>
            </div>
            <div style="display:flex; flex-direction: column; justify-content:space-between;">
              <div></div>
              <div>
                <button class="UI_buttons">Log in</button>
                <button class="UI_buttons">Sign up</button>
              </div>
            </div>
          </div>

          <style>
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: var(--theme-color);
            }

            li {
              display: inline-block;
            }

            li a {
              display: block;
              color: black;
              text-align: center;
              padding: 14px 50px;
              text-decoration: none;
              transition-property: "background-color color";
              transition-duration: .3s;
              background-color: var(--theme-color)
            }

            li a:hover {
              transition-property: "background-color color";
              transition-duration: .3s;
              background-color: var(--theme-color-dark1);
              color: white;
            }
          </style>

          <ul>
            <li><a href="#">Home</a></li>|
            <li><a href="#">Destinations</a></li>|
            <li><a href="#">Gallery</a></li>|
            <li><a href="#">Experiences</a></li>|
            <li><a href="#">Reviews</a></li>|
            <li><a href="#">About us</a></li>
          </ul>
        </main>
      </div>
      <div class="pageMain" id="content">
        <main>
          <div style="display:flex; flex-direction: row; justify-content:space-around;">
            <div></div>
            <div style="display:flex; flex-direction: column; justify-content: center; max-width: 80vw;margin-top: 10px;">
              <!-- content -->
              
              <div style="display:flex;justify-content: space-between;">
                <div>
                  <img src="./imgs/img (1).webp" width="400em"
                    style="margin: 16px 20px;">
                </div>
                <div style="min-width: 10em;">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui pellentesque, elementum eros
                    sit amet, rutrum mauris. Nunc ornare nulla non mauris pharetra ornare. Mauris at est ac sem commodo
                    efficitur. Nullam imperdiet magna non commodo ullamcorper. Curabitur maximus orci iaculis massa
                    interdum varius. Maecenas non nisl tortor. Sed vel ornare erat.

                    Vivamus nec porta quam. Fusce ut lectus in nisl pretium auctor id id purus. Nullam tellus sapien,
                    tempus ac pellentesque sed, pharetra ut libero. Quisque facilisis semper ante, at cursus orci
                    vehicula
                    nec. Ut sagittis sollicitudin est, ac ultricies leo vehicula ac. Maecenas in fringilla eros, vel
                    dignissim risus. Donec facilisis ornare tortor vitae eleifend. Nam eu facilisis libero. Sed dapibus
                    condimentum diam in tempus. Nam pharetra arcu enim, a venenatis justo dictum et. Pellentesque
                    rhoncus
                    elit at faucibus ullamcorper. Aenean nec nunc convallis nulla vulputate rutrum et in nibh. Praesent
                    elit ex, cursus et venenatis sit amet, varius luctus erat. Pellentesque nec velit et metus rhoncus
                    tempus. Duis faucibus pulvinar est, id accumsan risus fringilla id.
                  </p>
                </div>
              </div>

              <div style="
                background-color: var(--theme-color); 
                background-image: url(./imgs/img\ \(10\).jpg);
                color: white;
                height: 300px;
                ">
                <h2>We offer many services; from your flights to your accomodations, worldwide</h2>
              </div>

              <div style="display:flex; flex-direction: row-reverse; justify-content: center; max-width: 80vw;margin-top: 10px;">
                <div>
                  <img src="./imgs/img (3).jpg" width="400em"
                    style="margin: 16px 20px;">
                </div>
                <div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui pellentesque, elementum eros
                    sit amet, rutrum mauris. Nunc ornare nulla non mauris pharetra ornare. Mauris at est ac sem commodo
                    efficitur. Nullam imperdiet magna non commodo ullamcorper. Curabitur maximus orci iaculis massa
                    interdum varius. Maecenas non nisl tortor. Sed vel ornare erat.

                    Vivamus nec porta quam. Fusce ut lectus in nisl pretium auctor id id purus. Nullam tellus sapien,
                    tempus ac pellentesque sed, pharetra ut libero. Quisque facilisis semper ante, at cursus orci
                    vehicula
                    nec. Ut sagittis sollicitudin est, ac ultricies leo vehicula ac. Maecenas in fringilla eros, vel
                    dignissim risus. Donec facilisis ornare tortor vitae eleifend. Nam eu facilisis libero. Sed dapibus
                    condimentum diam in tempus. Nam pharetra arcu enim, a venenatis justo dictum et. Pellentesque
                    rhoncus
                    elit at faucibus ullamcorper. Aenean nec nunc convallis nulla vulputate rutrum et in nibh. Praesent
                    elit ex, cursus et venenatis sit amet, varius luctus erat. Pellentesque nec velit et metus rhoncus
                    tempus. Duis faucibus pulvinar est, id accumsan risus fringilla id.
                  </p>
                </div>
              </div>

              <hr> <h2>Our Destinations</h2>

              <div style='display:flex; justify-content:space-between; width:100%;'>
                <div class='pagePusher'></div>
                <div style='min-height:100%; display:flex; justify-content:space-between; width:fit-content' class='gallerypage'>
                  <div id='col1' class='galaryColumn' style="display:flex; flex-direction:column"></div>
                  <div id='col2' class='galaryColumn'></div>
                  <div id='col3' class='galaryColumn'></div>
                  <div id='col4' class='galaryColumn'></div>
                </div>
                <div class='pagePusher'></div>
              </div>

              <script>
                var imageWidth = "250px"
                var noofImgs = 18 ; // from 1 
                var endSeq = false ;
                
                var imgCounter = 1 ;
                for (var row = 1 ; row <= 4 ; row++)
                {
                  for (var col = 1 ; col <= 4 ; col++)
                  {
                    var column = document.getElementById("col"+col);
                    column.style = "padding:10px"
                    
                    var img = document.createElement("img");
                    img.src = "./imgs/img ("+imgCounter+").jpg";
                    img.style = "width:"+imageWidth+"; padding-bottom:20px;";
                    column.appendChild(img);
                    column.appendChild(document.createElement("br"));
                    imgCounter++;
                    
                    if (imgCounter == noofImgs+1)
                      endSeq = true ;
                    if (endSeq)
                      break;
                  }
                  if (endSeq)
                    break;
                }
                
              </script>

              <!-- content -->
            </div>
            <div></div>
          </div>
        </main>
      </div>
      <div class="pageMain" id="footerDIV">
        <footer id="footer" style="display: flex; justify-content: space-between;" >
          <div><img src="logo.png" width="200px" height="200px" style="margin-top: 40px;"> </div>
          <div style="padding: 20px; display: flex; justify-content: space-between; flex-direction: column;">
            <div></div>
            <div><h5>Copyright © 2023 | All Rights Reserved</h5></div>
          </div>
          <div style="padding: 20px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.6947954050706!2d80.61053301374515!3d7.275527515984658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae368bfd631eeb9%3A0x881fd608acc078bb!2sSLIIT%20Kandy%20Center!5e0!3m2!1sen!2slk!4v1667060085551!5m2!1sen!2slk" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>

</html>