<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/index.css"/>

    <title>Oddysey - Experience The World</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <h1>Sign up for services</h1>
      <div>
        <form>
            <input type="text" name="username" id="username">
            <input type="password" name="password" id="password">
            <input type="submit">
        </form>
      </div>
  </div>
  </body>
</html>
